---
import '../styles/global.css'
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/Funko_Edu-Cabeza.png" type="image/svg+xml" />
		<title>Portafolio-EduardoEs</title>
	</head>
	<body>
		<slot />
	</body>
</html>

